#ham {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

#ham div,
#ham::after,
#ham::before {
    display: block;
    background-color: var(--light);
    border-radius: 3px;
    height: 2px;
    width: 25px;
    transition: 0.2s ease-in-out;
}

#ham::before {
    content: '';
    position: absolute;
    margin-bottom: 10px;
}

#ham::after {
    content: '';
    position: absolute;
    margin-top: 10px;
}

#ham.active::before {
    transform: translateY(5px) rotate(135deg);
}

#ham.active::after {
    transform: translateY(-5px) rotate(-135deg);
}

#ham.active div {
    transform: scale(0);
}