.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../assets/bg.png);
    background-size:cover;
    background-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: screen;

    .heroContainer {
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .leftFlexBox {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            flex-basis: 40%;

            h1,
            p {
                color: var(--light);
                font-family: var(--secondaryFont);
                font-size: var(--small);
            }

            h1{
                font-size: var(--xxl);
                font-family: var(--primaryFont);
                font-weight: 800;
                line-height: var(--xxl);
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .rightFlexBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            gap: 20px;

            .end {
                padding: 1.5rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                z-index: 8;

                input, button{
                    font-family: var(--secondaryFont);
                    font-size: var(--small);
                    border-radius: 999px;
                }
                input{
                    height: 50px;
                    box-shadow: 0 0 2px var(--gray);
                    padding: 0.5rem 1.5rem;
                    background-color: var(--color2);
                    font-size: var(--small);
                }

                button{
                    height: 50px;
                    color: var(--light);
                    width: 100%;
                    margin-top: 0.5rem;
                }
            }
            &::before,&::after{
                content: '';
                position: absolute;
                display: block;
                background-size: cover;
            }

            &::before{
                width: 150px;
                height: 150px;
                background-image: url(../assets/box.png);
                right: 90%;
                top: 35%;
                z-index: 7;
            }
            &::after{
                width: 100px;
                height: 100px;
                background-image: url(../assets/eth.png);
                left: 90%;
                top: 90%;
                z-index: 8;
            }
        }
    }

}

@media (max-width: 1024px) {
    .hero{
        
        .heroContainer{
            flex-direction: column;
            gap: 40px;

            .leftFlexBox{
                align-items: center;
                h1,p{
                    text-align: center;
                }
            }
        }
    }

}

@media (max-width: 640px) {

    .rightFlexBox{
        width: 100% !important;

        &::before{
            width: 100px !important;
            height: 100px !important;
            top: 39% !important;
            left: 72% !important;
        }
        &::after{
            width: 85px !important;
            height: 85px !important;
            top: 95% !important;
            left: -5% !important;
        }
    }
}