@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#3f2a93;
  background-image: 
    radial-gradient(at 100% 0%, #c39aff 0, transparent 50%), 
    radial-gradient(at 0% 100%, #da1057 0, transparent 45%);
}

.gradient-bg-services {
  background-color:#35247a;
  background-image: 
    radial-gradient(at 0% 0%, #d8185b 0, transparent 45%), 
    radial-gradient(at 100% 100%, #c39aff 0, transparent 50%);
}



.gradient-bg-footer {
  background-color: #231655;
  background-image: 
    radial-gradient(at 0% 100%, #d8185b 0, transparent 53%), 
    radial-gradient(at 100% 85%, #c59eff 0, transparent 47%);
}

.blue-glassmorphism {
  background: #ffffff47;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #ffffff9a;
}

/* white glassmorphism */
.white-glassmorphism {
  background: #ffffff47;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#e3acfe;
  background-image: 
    radial-gradient(at 83% 67%, #6349f6 0, transparent 58%), 
    radial-gradient(at 67% 20%, rgb(122, 101, 229) 0, transparent 59%), 
    radial-gradient(at 88% 35%, rgb(197, 63, 173) 0, transparent 50%), 
    radial-gradient(at 31% 91%, #a55bca 0, transparent 52%), 
    radial-gradient(at 27% 71%, rgb(242, 84, 147) 0, transparent 49%), 
    radial-gradient(at 74% 89%, rgb(255, 0, 0) 0, transparent 51%), 
    radial-gradient(at 53% 75%, rgb(220, 99, 212) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 0% 36%, rgb(253, 129, 241) 0, transparent 53%), radial-gradient(at 90% 100%, rgb(250, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
